{{> header }}
<div class="ui container">
    <div class="ui two column centered grid">
        <div class="row">
            <div class="ui ordered steps">
                <div class="{{#iff registrationStep '>' 1}} completed {{/iff}} step">
                    <div class="content">
                        <div class="title">Step one</div>
                    </div>
                </div>
                <div class="{{#iff registrationStep '>' 2}} completed {{/iff}} step">
                    <div class="content">
                        <div class="title">Step two</div>
                    </div>
                </div>
                <div class="active step">
                    <div class="content">
                        <div class="title">Completed</div>
                    </div>
                </div>
            </div>
            <div class="column">         
                {{#iff registrationStep '===' 1}}
                    <form class="ui form" method="POST">
                        <input type="text" value="1" name="step"  hidden/>
                        <div class="field {{#if errors.firstName.message}} error {{/if}}">
                            <label>First Name</label>
                            <input type="text" value="{{userFilledData.firstName}}" name="firstName" placeholder="First Name">
                            {{#if errors.firstName.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.firstName.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.lastName.message}} error {{/if}}">
                            <label>Last Name</label>
                            <input type="text" value="{{userFilledData.lastName}}" name="lastName" placeholder="Last Name">
                            {{#if errors.lastName.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.lastName.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.email.message}} error {{/if}}">
                            <label>Email</label>
                            <input type="text" value="{{userFilledData.email}}" name="email" placeholder="Email">
                            {{#if errors.email.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.email.message}}
                                </div>
                            {{/if}}
                        </div>
                        <button class="ui button primary"  type="submit">Next</button>
                    </form>
                {{/iff}}

                {{#iff registrationStep '===' 2}}
                    <form class="ui form" method="POST">
                        <input type="text" value="2" name="step"  hidden/>
                        <div class="field {{#if errors.timeArrival.message}} error {{/if}}">
                            <label>Date of arrival</label>
                            <input type="text" name="timeArrival" value="{{userFilledData.timeArrival}}">
                            {{#if errors.timeArrival.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.timeArrival.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.timeDeparture.message}} error {{/if}}">
                            <label>Date of departure</label>
                            <input type="text" name="timeDeparture" value="{{userFilledData.timeDeparture}}">
                            {{#if errors.timeDeparture.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.timeDeparture.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.companyName.message}} error {{/if}}">
                            <label>Company name</label>
                            <input type="text" name="companyName" value="{{userFilledData.companyName}}">
                            {{#if errors.companyName.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.companyName.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.positionCompany.message}} error {{/if}}">
                            <label>Position in company</label>
                            <input type="text" name="positionCompany" value="{{userFilledData.positionCompany}}">
                            {{#if errors.positionCompany.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.positionCompany.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.role.message}} error {{/if}}">
                            <label>Role:</label>
                            <select class="ui dropdown" name="role">
                                {{#if errors.role.message }}
                                    <option value="">--Please choose an option--</option>
                                {{else}}
                                    <option value="{{userFilledData.role}}" hidden="hidden" selected="selected">{{userFilledData.role}}</option>
                                    <option value="">--Please choose an option--</option>
                                {{/if}}
                                <option value="Listener">Listener</option>
                                <option value="Speaker">Speaker</option>
                            </select>
                            {{#if errors.role.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.role.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.sex.message}} error {{/if}}">
                            <label>Sex:</label>
                            <select class="ui dropdown" name="sex">
                                {{#if errors.sex.message }}
                                    <option value="">--Please choose an option--</option>
                                {{else}}
                                    <option value="{{userFilledData.sex}}" hidden="hidden" selected="selected">{{userFilledData.sex}}</option>
                                    <option value="">--Please choose an option--</option>
                                {{/if}}
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            {{#if errors.sex.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.sex.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.birthdate.message}} error {{/if}}">
                            <label>Birthdate:</label>
                            <input type="text" name="birthdate" value="{{userFilledData.birthdate}}">
                            {{#if errors.birthdate.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.birthdate.message}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="field {{#if errors.country.message}} error {{/if}}">
                            <label>Country:</label>
                            <input type="text" name="country" value="{{userFilledData.country}}">
                            {{#if errors.country.message}}
                                <div class="ui pointing red basic label">
                                    {{errors.country.message}}
                                </div>
                            {{/if}}
                        </div>
                        <a class="ui button red" href="/event/registration?step=1">Back</a>
                        <button class="ui button primary" type="submit">Next</button>
                    </form>
                {{/iff}}

                {{#iff registrationStep '===' 3}}
                    <div>
                        {{userFilledData.firstName}} {{userFilledData.lastName}},
                        registration completed successfully.
                   <div>A confirmation email was sent to your email <strong>{{userFilledData.email}}.</strong></div>
                {{/iff}}
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/country-select-js@2.0.1/build/js/countrySelect.min.js"></script>


<script type="text/javascript">
    $(` input[name="timeDeparture"]`).datepicker({});
    $(`input[name="timeArrival"]`).datepicker({});



    $('input[name="birthdate"]').datepicker({});
    $('input[name="country"]').countrySelect();
</script>
</body>

</html>